# Ignore node_modules
node_modules/

# Ignore build output
dist/

# Ignore npm debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore editor files
.vscode/
.idea/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore temp files
*.tmp
*.temp
